@mixin page-center {
    width: 60%;
    margin: 0 auto;
}

@mixin button-standard {
    border-radius: 30px;
    padding: 12px 30px;
    cursor: pointer;
    border: solid 3px transparent;
}

$greenMain:#79b27b;
$greyMain: #3f4843;